.TitleSection {
    padding: 120px 15px;
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background: url('../../assets/bg/title-bg.jpg') no-repeat center;
    background-size: cover;
}
.TitleSection__link {
    text-decoration: none;
    font-size: 18px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .3s;
}

.TitleSection__link:hover {
    color: #3786ff;
}

.TitleSection__title {
    font-size: 70px;
    color: #ffffff;
    line-height: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
}

@media (max-width: 1340px) {
    .TitleSection {
        padding: 120px 15px;
    }

    .TitleSection__title {
        font-size: 56px;
    }
}

@media (max-width: 1025px) {
    .TitleSection {
        padding: 50px 15px;
    }

    .TitleSection__title {
        font-size: 48px;
    }
}