.ComputersModalBlock {
    padding: 20px 15px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(175, 174, 187, 0.195);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.activeModal {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
}

.ComputersModalBlock__content {
    max-width: 50vw;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    /* align-items: center; */
    background-color: #0c0a0a;
    transform: scale(.5);
    transition: all .5s;
}

.activeModal__content {
    transform: scale(1);
}

.ComputersModalBlock__content-left {
    width: 50%;
}

.ComputersModalBlock__content-right {
    width: 50%;
}

.ComputersModalBlock__content-right h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: yellow;
}

.ComputersModalBlock__content-right ul {
    list-style: decimal !important;
}

.ComputersModalBlock__title {
    font-size: 40px;
}

.ComputersModalBlock__title_comfort {
    color: #6973ff;
}

.ComputersModalBlock__title_VIP {
    color: #b8860b;
}

.computers-rate__range {
    margin-bottom: 20px;
    display: flex;
    column-gap: 10px;
}

.computer-rate__cont {
    display: flex;
    align-items: center;
    column-gap: 5px;
}

.computer__range {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.computer {
    width: 20px;
    height: 20px;
    transition: all .3s;
    cursor: pointer;
    background-color: gray;
}

/* .computer_green {
    background-color: gray;
} */

.computer_busy {
    background-color: green;
}

.computer_red {
    width: 20px;
    height: 20px;
    transition: all .3s;
    cursor: initial;
    background-color: red;
}

.computer:hover {
    background-color: rgb(126, 230, 126);
}

.computers__desc {
    margin-top: 20px;
}