.ComputersModalBlock {
    padding: 20px 15px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(175, 174, 187, 0.195);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all .5s;
}

.activeModal {
    opacity: 1;
    pointer-events: all;
    overflow: hidden;
}

.ComputersModalBlock__content {
    max-width: 50vw;
    padding: 30px;
    background-color: #0c0a0a;
    transform: scale(.5);
    transition: all .5s;
}

.activeModal__content {
    transform: scale(1);
}

.computer__range {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.computer {
    width: 20px;
    height: 20px;
    transition: all .3s;
    cursor: pointer;
}

.computer_green {
    background-color: gray;
}

.computer_red {
    width: 20px;
    height: 20px;
    transition: all .3s;
    cursor: initial;
    background-color: red;
}

.computer:hover {
    background-color: rgb(126, 230, 126);
}

.computers__desc {
    margin-top: 20px;
}