.Rules {
    padding: 100px 15px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Rules__menu {
    padding: 0px 0px 0px 20px;
    text-align: initial;
    margin-bottom: 60px;
}

.Rules__menu:last-child {
    margin-bottom: 0px;
}

.Rules__menu li {
    border-radius: 25px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 18px;
    list-style: decimal; 
}