.Computers {
    padding: 100px 15px 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Computers__card-range {
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    height: 600px;
    flex-wrap: wrap;
}

.Computers__card-filter {
    background: url('file:///C:/Users/User/Desktop/Front-end/makets/project-maket/gamon/images/background/3.jpg') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #2e2d2d;
}

.Computers__card-filter li {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.Computers__card-filter li a {
    position: relative;
    padding: 18px 58px;
    display: inline-block;
    font-size: 16px;
    color: #848484;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #000000;
    z-index: 1;
    transition: all .3s;
}

.Computers__card-filter li a:hover {
    color: #ffffff;
    border: 1px solid #333333;
    border-bottom: none;
    border-top: none;
}

.Computers__card-range p {
    padding: 39px;
    border: 1px solid #333333;
    transition: all .3s;
}

.Computers__card-range p:hover {
    background-color: #3786ff;
}