.Address {
    padding: 100px 15px 0px 15px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.Address__card-range {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    text-align: initial;
}

.Address__card {
    padding: 35px;
    border: 1px solid #2e2d2d;
    transition: all .3s;
}

.Address__card:hover {
    background-color: #000000;
}

.Address__card-title {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all .3s;
}

.Address__card-title:hover {
    color: #3786ff;
}

.Address__card-subtitle {
    color: #848484;
    font-size: 20px;
    line-height: 1.3em;
    margin: 10px 0px;
}

.Address__card-item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: space-between;
}

.Address__card-item span {
    color: #a3a3a3;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3em;
}

.Address__card-item div {
    color: #848484;
    font-weight: initial;
    font-size: 20px;
}