/* .css-ciy9n4-MuiPaper-root-MuiAppBar-root {
    
} */

.css-ciy9n4-MuiPaper-root-MuiAppBar-root {
    display: none !important;
}

.css-18sg6k4-MuiPaper-root-MuiDrawer-paper {
    background-color: #202020 !important;
}

.css-hyum1k-MuiToolbar-root {
    background-color: #000000;
}

.css-1dvstpp-MuiTypography-root {
    font-family: 'Roboto Condensed', sans-serif !important;
    font-size: 55px !important;
    font-weight: 600 !important;
    text-transform: uppercase !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
    padding: 0 !important;
}

.css-i4bv87-MuiSvgIcon-root {
    width: 30px !important;
    height: 30px !important;
    margin: 0px !important;
}

.css-1ei1svh-MuiButtonBase-root-MuiIconButton-root svg {
    width: 40px !important;
    height: 40px !important;
    margin: 0px !important;
    transition: all .3s;
}

.css-9mgopn-MuiDivider-root {
    display: none !important;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root {
    border-top: 1px solid #333 !important;
    font-size: 18px;
    text-transform: uppercase;
}

.css-16ac5r2-MuiButtonBase-root-MuiListItemButton-root:last-child {
    border-top: 1px solid #333 !important;
    border-bottom: 1px solid #333 !important;
}

.css-1ei1svh-MuiButtonBase-root-MuiIconButton-root svg:hover {
    fill: #3786ff;
} 

.Burger-menu-active-link {
    color: #3786ff;
    border-left: 3px solid #3786ff !important;
    padding-left: 3px;
    transition: all .3s;
}

@media (max-width: 1025px) {
    .css-ciy9n4-MuiPaper-root-MuiAppBar-root {
        display: block !important;
    }
}